<div class="background"></div>
<div class="container-table">
	<div class="perfil-data">
		<div class="mayan-profile">
			<img class="mayan-level level" [src]="imagen" alt="">
		</div>
		<h1>{{usuario.nombreUsuario}}</h1>
		<h3>{{tipo}}</h3>
		<h5>{{usuario.fechaNacimiento}}</h5>
		<div class="container-profile-elements">
			<div class="profile-element">
				<label for="reputation">700</label>
				<img class="mayan-level" src="../../assets/imgs/reputation.png" alt="">
			</div>
			<div class="profile-element">
				<label for="publications">7</label>
				<img class="mayan-level" src="../../assets/imgs/publications.png" alt="">
			</div>
		</div>
	</div>
	<div class="perfil-content">
		<div class="publication-concept">
			<input id="concepto" type="text" placeholder="Escribe la palabra">
			<textarea name="concepto" id="descripcion" cols="30" rows="3" placeholder="Describe tu concepto"></textarea>
			<button (click)="publicar()">PUBLICAR</button>
		</div>
		<h1>TUS PUBLICACIONES</h1>
		<div *ngFor="let publicacion of publicaciones" class="publication-concept">
			<h5>{{publicacion.fechaHora}}</h5>
			<div class="container-profile-elements oriented-left">
				<h1>{{publicacion.idConcepto}}</h1>
				<div class="profile-element">
					<label for="reputation">700</label>
					<img class="mayan-level" src="../../assets/imgs/cacao.png" alt="">
				</div>
				<div class="profile-element">
					<label for="reputation">700</label>
					<img class="mayan-level" src="../../assets/imgs/skull.png" alt="">
				</div>
				<a href="#" style="font-size: 0.5em;text-decoration: dashed;">Ver comentarios(#)</a>
			</div>
			<p>{{publicacion.descripcion}}</p>
		</div>
	</div>
</div>