<div class="background"></div>
<div class="container-table">
	<div class="perfil-data">
		<div class="mayan-profile">
			<img class="mayan-level level" src="../../assets/imgs/face1.png" alt="">
		</div>
		<h1>name-placeholder</h1>
		<h3>@username-placeholder</h3>
		<h5>birthday-placeholder</h5>
		<div class="container-profile-elements">
			<div class="profile-element">
				<label for="reputation">700</label>
				<img class="mayan-level" src="../../assets/imgs/reputation.png" alt="">
			</div>
			<div class="profile-element">
				<label for="publications">7</label>
				<img class="mayan-level" src="../../assets/imgs/publications.png" alt="">
			</div>
		</div>
	</div>
	<div class="perfil-content">
		<div class="publication-concept">
			<input type="text" placeholder="Escribe la palabra">
			<textarea name="concepto" id="concepto" cols="30" rows="3" placeholder="Describe tu concepto"></textarea>
			<button>PUBLICAR</button>
		</div>
		<h1>TUS PUBLICACIONES</h1>
		<div class="publication-concept">
			<h5>date-placeholder</h5>
			<div class="container-profile-elements oriented-left">
				<h1>concept</h1>
				<div class="profile-element">
					<label for="reputation">700</label>
					<img class="mayan-level" src="../../assets/imgs/cacao.png" alt="">
				</div>
				<div class="profile-element">
					<label for="reputation">700</label>
					<img class="mayan-level" src="../../assets/imgs/skull.png" alt="">
				</div>
				<a href="#" style="font-size: 0.5em;text-decoration: dashed;">Ver comentarios(#)</a>
			</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ullam blanditiis ipsam asperiores voluptatem excepturi optio voluptatibus debitis. Ducimus, quisquam. Corporis ipsam maxime iure similique neque reprehenderit sunt minima quaerat.</p>
		</div>
	</div>
</div>