.banner{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
	background-image: url(../assets/imgs/rock.png);
	margin: 0;
	height: 10vh;
	border-bottom: 4px solid black;
	
    position: sticky;
    top: 0;
    z-index: 5000;
}

.component-banner{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
	padding-left: 2em;
	padding-right: 2em;
}

.component-banner img{
	width: 3em;
	height: 3em;
}

.name-comp{
	display: none;
}

.comp-banner:hover .name-comp{
	display: block;
	animation: showName 2s;
}

.comp-banner:hover{
	background-image: url(../assets/imgs/rock2.png);
	padding-left: 1em;
	border-radius: 1em;
}

.comp-banner{
	margin-left: 0.5em;
}

.comp-banner:hover, .comp-banner img, .comp-banner h1{
	cursor: url(../assets/imgs/pointer2.png),auto;
}

.component-banner h1 {
	margin: 0.4em;
	color: #f1e0c1;
}

.comp-banner{
	
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes showName {
	from {
		transform:translateX(-5);
	}

	to {
		transform:translateX(0);
	}
}

.menu-icon{
	filter: invert(90%) sepia(32%) saturate(252%) hue-rotate(338deg) brightness(98%) contrast(93%);
}

@media (max-width: 755px) {
	.banner{
		height: auto;
		justify-content: center;
	}
  }