<br>
<div class="div">
  <p>Calculadora Maya</p>
</div>
<div class="row">
  <div class="column">
    <div class="card div">
      <img src="/resource/numeros/2.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/2.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/2.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div col-auto">
      <input type="number" id="num1" placeholder="ingrese numero"
             class="form-control">
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h1 class="signos">+</h1>
    </div>
  </div>

  <div class="column">
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div col-auto">
      <input type="number" id="num1" placeholder="ingrese numero"
             class="form-control">
    </div>
  </div>

  <div class="column">
    <div class="div">
      <h1 class="signos">=</h1>
    </div>
  </div>

  <div class="column">
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div">
      <img src="/resource/numeros/0.jpg" height="50px"
           width="50px">
    </div>
    <div class="card div col-auto">
      <input type="number" id="num1" placeholder="resultado" disabled
             class="form-control">
    </div>
  </div>
</div>
