.div {
  text-align: center;
  align-items: center;
  justify-content: center;
}


body {
  margin: 1% 15% 15% 15%;

  /*padding:0; background-image: url(../resource/stock.jpg);*/
  background-color: #efeff0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.signos {
  margin-block-start: 50px;
}
