<div class="background"></div>
<div class="container">
	<div class="duplex-container">
		<img src="../../assets/imgs/faces.png" alt="">
		<div>
			<h1 style="color: yellow;">TIEMPO MAYA</h1>
			<input type="text" id="username" placeholder="ESCRIBE TU NOMBRE DE USUARIO">
			<input type="password" id="password" placeholder="ESCRIBE TU CONTRASEÑA">
			<button (click)="login()">ENTRAR</button>
			<a href="/registro" style="width: 100%;text-align: center;color: yellow; justify-content: center;">¿No tienes cuenta?</a>
		</div>
		<img src="../../assets/imgs/pexels-alex-azabache-3290068.jpg" alt="">
	</div>
</div>