<div class="background"></div>
<div class="publication-concept" >
	<h5>date-placeholder</h5>
	<div class="container-profile-elements oriented-left">
		<h1>concept</h1>
		<div class="profile-element forClick">
			<label class="reputation">700</label>
			<img class="mayan-level" src="../../assets/imgs/cacao.png" alt="">
		</div>
		<div class="profile-element forClick">
			<label class="reputation">700</label>
			<img class="mayan-level" src="../../assets/imgs/skull.png" alt="">
		</div>
		<a href="#" style="font-size: 0.5em;text-decoration: dashed;">Ver comentarios(#)</a>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ullam blanditiis ipsam asperiores
		voluptatem excepturi optio voluptatibus debitis. Ducimus, quisquam. Corporis ipsam maxime iure similique
		neque reprehenderit sunt minima quaerat.</p>
</div>