<div class="background"></div>
<div>
	<div class="selector">
		<h1>BUSQUEDA</h1>
		<input type="text" placeholder="REALIZA TU BUSQUEDA">
		<div class="mayan-button" style="display: block !important;">
			<span class="back-button">BUSCAR</span>
			<button type="button" name="Hover">REVISAR BIBLIOTECA</button>
		</div>
	</div>
	<h1 style="margin-top: 1em;">BIBLIOTECA MAYA</h1>
	<div class="community">
		<div class="publication-concept">
			<div class="container-profile-elements oriented-left">
			<h1>concept</h1>
			</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ullam blanditiis ipsam asperiores
				voluptatem excepturi optio voluptatibus debitis. Ducimus, quisquam. Corporis ipsam maxime iure similique
				neque reprehenderit sunt minima quaerat.</p>
		</div>
	</div>

</div>